@use 'variables';

.cast{
    padding: 4vw;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    &__container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 24px;

        &__item{
            &__image{
                width: 250px;
                height: 290px;
                border-radius: 7px;
                cursor: pointer;

                &--is-active{
                    box-shadow: 1px 1px 35px 1px #bbb9c5;
                    -webkit-filter: brightness(1.1);
                }
                
                &:hover{
                    -webkit-filter: brightness(1.1);
                }                
            }
        }

        &__tabs{
            display: none;
           margin-top: 3PX;

            &__button{
                background-color: transparent;
                border: none;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                
                &--is-active{
                    border-bottom: 2px solid variables.$ternaryTextColor;
                }
            }

            &--is-open{
                display: flex;
                justify-content: space-evenly;
            }
        }

        &__about{
            display: none;

            &__item{
                display: none;

                &--is-active{
                    display: block;
                }
            }
            &--is-open{
                display: block;
            }
        }

        .first-row, .second-row{
            grid-column: span 3;
        }
    }
}