.director{
    padding: 4vw;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;

        @media(max-width:768px){
            justify-content: center;
            gap: 30px;
        }

        &__image{
            width: 250px;
        }

        &__bio{
            width: 600px;
        }
    }
}