.footer{
    background-color: #0d1236;
    padding: .5vw 4vw;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    &__text{
        text-decoration: none;
    }
}

.bi{
    margin-left: 5px;
}