.hero{
    background-image: url(../images/hero/hero_desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;
    position: relative;

    @media(max-width: 768px){
        background-image: url(../../dist/images/hero/hero_mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .42);

        
        @media(max-width: 768px){
            background-color: rgba(0, 0, 0, .55);
        }
    }

    &__content{
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 48vh;
        width: 1000px;
        text-align: center;
        margin-top: 32px;

        @media(max-width: 768px){
            top: 95%;
            left: 50%;
            width: 320px;
        }

        &__title{
            margin-bottom: 56px;    
        }

        &__quotes{
            margin-bottom: 32px;

            .text--sm{
                text-align: right;
                font-style: italic;
                font-weight: bold;
                letter-spacing: 1px;
            }

            @media(max-width: 768px){
                display: none;
            }
        }
    }
}