@use 'variables';
@use 'hero';
@use 'info';
@use 'cast';
@use 'director';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Barlow;
    src: url(https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
    font-weight: 700;
}

@font-face {
    font-family: Fira Sans;
    src: url(https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
    font-weight: 500;
}

@mixin text($fontSize: 16px, $color: variables.$ternaryTextColor, $fontFamily: Barlow){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: $color;
    font-family: $fontFamily;
}

@mixin title($fontSize: 30px, $color: variables.$primaryTextColor, $fontFamily: Fire Sans){
    @include text($fontSize, $color, $fontFamily);
}

body{
    background-color: variables.$bgColor;
}

.title--bg{
    @include title(40px)
}

.title{
    @include title($color: variables.$secondaryTextColor);
    margin-bottom: 32px;
}

.text--bg{
    @include text(24px)
}

.text{
    @include text(20px)
}

.text--sm{
    @include text(18px)
}